#content-product{
    display: flex;
    justify-content: center;
    padding-top: 12vw;
    padding-left: 10vw;
    padding-right: 10vw;
}

#back{
    margin-right: 15px;
}

#back a{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}
  
#back a:hover {
    background-color: #ddd;
    color: black;
}
  
a.previous {
    background-color: white;
    color: black;
}
  
a.round {
    border-radius: 50%;
}

#left{
    margin-right: 20px;
}

#left img{
    width: 400px;
    border-radius: 13px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#right{
    background-color: #e2e6eb;
    border-radius: 13px;
    max-width: 400px;
    padding: 15px;
}

#txt{
    color: #955033;
    margin-bottom: 10px;
}


h3{
    margin-bottom: 11px;
}

p{
    margin-bottom: 8px;
}

