@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'lobster';
}

header{
    align-items: center;
    position: fixed;
    background-color: #FFD03A;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    margin: 0 auto;
}

p{
    font-family: 'lobster';
}

.game{
    display: flex;
    align-items: center;
}

body{
    background-color: #6B7C96;
}

.container-header{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}

.logo{
    margin: 5px 20px;
    margin-top: 8px;
    width: 10%;
}

.logo img{
    width: 70%;
    height: auto;
}

.nav-bar{
    display: flex;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
}

header a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0px 15px;
}

.nav-bar a{
	float: left;
	display: block;
	color: black;
	text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
	text-decoration: none;
	border-bottom: 3px solid transparent;
}

.nav-bar a:hover {
	border-bottom: 3px solid rgb(138, 4, 4);
}
  
.nav-bar a.active {	
	border-bottom: 3px solid rgb(138, 4, 4);
}

#header a{
    text-decoration: none;
}

#logo{
    width: 150px;
}

#logo img{
    width: 100%;
    margin: 8px;
}

#content{
    max-width: 1000px;
    margin: auto;
    margin-top: 120px;
}

footer{
    margin-top: 120px;
    background-color: #FFD03A;
    width: 100%;
}

#container-footer{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

#footer-title h2{
    color:rgb(138, 4, 4); 
}

#footer-title h3{
    color: #783f04;
    font-size: medium;
}

#contact-us{
    display: flex;
    align-items: center;
}

#contact-us-title{
    margin-right: 40px;
    font-size: large;
}

#contact-us-title h2{
    color: black;
}

.socmed{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.socmed-img{
    padding: 0 7px;
}

.socmed-img img{
    padding-top: 5px;
}

.socmed-img img{
    width: 30px;
    height: auto;
}

.socmed a{
    text-decoration: none;
    color: #783f04;
    font-weight: bold;
}